<footer class="main-footer">
    <strong>Created &copy; 2023 <a href="https://adminlte.io">Rizki Hendra</a>.</strong> 
    <div class="float-right d-none d-sm-inline-block">
        <b>Version</b> 1.0.0
    </div>
</footer>